{%load static%}
<!Doctype HTML>

<head>
	<link rel="stylesheet" href="{% static "csViewer/css/custom.css"%}">
</head>

<body>	
	<div id="sec"/>
	<div id="thir"/>

	<script src="{% static "csViewer/lib/js/jquery-3.1.1.min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "csViewer/lib/js/d3.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "csViewer/lib/js/crossfilter.min.js"%}" type="text/javascript" charset="utf-8"></script>	
	<script src="{% static "csViewer/lib/js/dc.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "csViewer/js/bar.js" %}" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var Wheredata = {{ WhereData|safe }};
			// console.log(Wheredata);
			var AllData = {{ AllData|safe }};
			// console.log(AllData);
			var waterfallData = {{ waterfall|safe }};

			beautify(Wheredata, AllData, waterfallData);
		});
	</script>
</body>