@import url('../lib/css/keen-dashboards.css');
@import url('../lib/css/dc.css');
@import url('../lib/css/bootstrap.min.css');
@import url('../lib/css/d3fc.css');

#sec svg{
	overflow: visible;
	padding-left: 3em;
	padding-bottom: 1em;
}